*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #FF69B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E4EEF1;

    .secao-cabecalho1{
        display: flex;
        align-items: center;
        img{
            width: 100px;
        }
    }

    .secao-cabecalho2{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            list-style: none;
            li{
                justify-content: space-between;
                padding: 10px;
            }
        }
    }
}


.secao-principal1{
    background-color: #FFD9EC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        font-size: 25px;
        color: #000;
        word-wrap: break-word; /* Garante que o texto quebre quando necessário */
        width: 50vw;
    }
    img{
        width: 365px;
    }
}

.secao-principal2{
    background-color: #FF69B4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    p{
        font-size: 25px;
        color: #E4EEF1;
        word-wrap: break-word;
        width: 50vw;
    }
    img{
        width: 365px;
    }
}

.secao-principal3{
    background-color: #FFD9EC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        width: 365px;
    }
}

.rodape{
    background-color: #FF69B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        list-style: none;
    }

    p{
        color: #E4EEF1;
    }
}

.icon{
    width: 57.84px;
}