*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.explicacaoBoxSizing{
    background-color: tomato;
    width: 200px;
    height: 200px;
    border: solid green 30px;
    padding: 20px;
}

.exemploElementoBlock{
    border: solid 5px red;
    width: 400px;
}

.exemploElementoInline{
    border: solid 5px blue;
}

.exemploDisplayInlineBlock {
    background-color: darksalmon;
    h2{
        border: solid 5px red;
        display: inline-block;
    }
    
}