// seletor {
//     .propriedade:valor;
// }
// Seletor de Elemento/Tag - é quando usamos a própria tag como seletor
h1{
    color: darkmagenta;
}

h2{
    color: blue;
}

.tituloTomato{
    color: green;
}

.tituloMarrom{
    color: brown;
}

main{
    border: solid 1px red;
}

.corLaranja{
    background-color: orange;
}

.corAzul{
    background-color: blue;
    color: white;
}

//Nesting - aninhamento
article{
    background-color: aqua;

    figure{
        border: 3px solid blue;

        img{
            width: 200px;
        }

        figcaption{
            color: white;
        }
    }
}